<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            max-width: 100%;
            padding: 10px;
        }

        /* Iframe styling */
        iframe {
            width: calc(100% - 20px);
            height: 85vh;
            border: none;
        }

        .spacer {
            height: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <main>
            {{ content }}
        </main>
    </div>
</body>

</html>