name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      max-parallel: 5
      matrix:
        environment: [default, py311]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        cache: true
        environments: ${{ matrix.environment }}
    - name: Lint
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.environment == 'default' }}
      run: pixi run lint-gh-actions
    - name: Type check
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.environment == 'default' }}
      run: pixi run type-check
    - name: Install browsers for Playwright tests
      if: ${{ matrix.environment == 'default' || matrix.os == 'ubuntu-latest' }}
      run: pixi run playwright install chromium --with-deps
    - name: Test with pytest
      if: ${{ matrix.environment == 'default' || matrix.os == 'ubuntu-latest' }}
      run: pixi run test
    - name: Upload coverage to Codecov
      if: ${{ matrix.environment == 'default' || matrix.os == 'ubuntu-latest' }}
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: ${{ matrix.os }}
    - name: Upload test results to Codecov
      if: ${{ !cancelled() && (matrix.environment == 'default' || matrix.os == 'ubuntu-latest')}}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: ${{ matrix.os }}
